fastapi             # Це наш веб-фреймворк (для створення сайту)
uvicorn             # Це сервер для запуску FastAPI
sqlalchemy          # Інструмент для роботи з базою даних (ORM)
psycopg2-binary     # Драйвер для PostgreSQL (щоб Python розумів базу)
redis               # Бібліотека для спілкування з Redis
celery              # Інструмент для фонових задач (Worker)
flower              # (Бонус) Панель адміністратора для моніторингу задач